DoNotStarveTool/bin/Release/DoNotStarveTool.application
DoNotStarveTool/bin/Release/DoNotStarveTool.exe.config
DoNotStarveTool/bin/Release/DoNotStarveTool.exe.manifest
DoNotStarveTool/bin/Release/DoNotStarveTool.vshost.application
DoNotStarveTool/bin/Release/DoNotStarveTool.vshost.exe.config
DoNotStarveTool/bin/Release/DoNotStarveTool.vshost.exe.manifest
DoNotStarveTool/bin/Release/data.xml
DoNotStarveTool/bin/Release/settings.xml
DoNotStarveTool/publish/Application Files/DoNotStarveTool_1_0_0_0/DoNotStarveTool.application
DoNotStarveTool/publish/Application Files/DoNotStarveTool_1_0_0_0/DoNotStarveTool.exe.config.deploy
DoNotStarveTool/publish/Application Files/DoNotStarveTool_1_0_0_0/DoNotStarveTool.exe.deploy
DoNotStarveTool/publish/Application Files/DoNotStarveTool_1_0_0_0/DoNotStarveTool.exe.manifest
DoNotStarveTool/publish/Application Files/DoNotStarveTool_1_0_0_0/vi/DoNotStarveTool.resources.dll.deploy
DoNotStarveTool/publish/DoNotStarveTool.application
DoNotStarveTool/publish/autorun.inf
